html,
body {
  background: linear-gradient(-45deg, #002ae4, #002ae4, #7200f5, #00755a);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.save-note {
  display: none;
  color: black;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.note-textarea,
.note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
.bg-dark{
  background: rgba(36, 36, 36, 0)!important;
}

.navbar {
  text-align: center;
  color: #000000;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
  background-color: rgb(255, 255, 255);
  color: #000000;
}
::placeholder {
  color:rgb(195, 196, 255);
}

.note-title {
  text-decoration: black;
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
  padding: 50px;
  text-align: center;
  color: #000000;
}

.note-title:read-only,
.note-textarea:read-only {
  color: #000000;
}


.list-group-item:first-child {
color:red;

}

.list-container .card {
  height: calc(100vh - 70px);
  border: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: rgba(36, 36, 36, 0);
  color: #000000;
}

.list-container {
  padding-left: 0;
  color: #000000;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #000000;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
  color: #000000;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

.col-8 {
  padding-top: 30px;
}

.navbar-brand {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: inline-block;
  font-size: 30px;
  line-height: inherit;
  padding: 20px 50rem 20px 48px;
}

a.navbar-brand {
text-align: center;
justify-content: center;
align-items: center;
}
